[Unit]
Description=Flask VM Dashboard
After=network.target

[Service]
User=nutanix
Group=nutanix
WorkingDirectory=/opt/flask-vm-dashboard
Environment="PATH=/opt/flask-vm-dashboard/.venv/bin"
ExecStart=/opt/flask-vm-dashboard/.venv/bin/python /opt/flask-vm-dashboard/app.py
Restart=always

[Install]
WantedBy=multi-user.target

